# eclipse
bin
*.launch
*/.settings
*/.metadata
*/.classpath
*/.project
.vscode
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*/.idea
.idea

# gradle
*/build
*/bin
build
bin
.gradle

# other
*/eclipse
*/run
eclipse
run